<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebbank.management_mms_product_provider.mapper.ProductsCategoryMapper">
    <resultMap id="BaseResultMap" type="com.cebbank.management_mms_product_provider.common.pojo.ProductCategory">
        <id column="product_category_id" jdbcType="INTEGER" property="productCategoryId"/>
        <result column="product_category_level" jdbcType="INTEGER" property="productCategoryLevel"/>
        <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName"/>
        <result column="product_category_create_time" jdbcType="VARCHAR" property="productCategoryCreateTime"/>
        <result column="product_category_update_time" jdbcType="VARCHAR" property="productCategoryUpdateTime"/>
        <result column="product_category_status" jdbcType="INTEGER" property="productCategoryStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    product_category_id, product_category_level, product_category_name, product_category_create_time,
    product_category_update_time, product_category_status
    </sql>
    <select id="selectByLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_category
        where product_category_level = #{productCategoryLevel,jdbcType=INTEGER}
        and product_category_status = 1
    </select>

</mapper>