<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="shopemp/header::header-fragment">
</header>
<script type="text/javascript">
    var websocket = null;
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        //这个地方特别坑，建立连接的地址在网上众说纷纭
        //我个人实现的方法是
        //ws:如果你是http请求就写ws；如果你是https请求得改成wss
        //localhost:8080：项目启动地址(本地),如果登陆页面是：http://localhost:8080/login,就用localhsot:8080
        //websocket:这个写上WebSocketServer类上@ServerEndpoint注解后的value值
        //uid:这个是传到后台去的登陆id
        // websocket = new WebSocket("ws://localhost:8081/websocket?uid=6");
        websocket = new WebSocket("ws://localhost:8081/websocket");
    } else {
        alert('当前浏览器 Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        setMessageInnerHTML("WebSocket连接发生错误");
    };

    //连接成功建立的回调方法
    websocket.onopen = function () {
        // setMessageInnerHTML("WebSocket连接成功");
    }

    //接收到消息的回调方法
    websocket.onmessage = function (res) {
        // alert(res.data);
        setMessageInnerHTML(res.data);
    }


    //连接关闭的回调方法
    websocket.onclose = function () {
        // setMessageInnerHTML("WebSocket连接关闭");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    }

    //将消息显示在网页上，3秒后消失
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
        setTimeout(hideMessage,3000);
    }
    function hideMessage()
    {
        document.getElementById('message').style.display='none'
    };

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息，这是websocket的实时消息
    function send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    a {
        color: #1baeae;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:hover {
        color: white;
        background-color: #1baeae;
    }

    tr td, th {
        border: 1px solid grey;
    }

    /*取消table标签中的单元格空白*/
    .mt {
        border-collapse: collapse;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="shopemp/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="shopemp/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!--    <div>-->
        <!-- Content Header (图标header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">商品管理</h3><span style="color: #b21f2d;font-size: xx-large" id="message"></span>
                    </div> <!-- /.card-body -->
                    <div style="color: #ac2925;margin-left: 60px" th:text="'您的角色:'+${session.user.shopEmpRoleName}" th:if="${not #strings.isEmpty(session.user)}"></div>
                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="addProduct()"><i
                                    class="fa fa-plus"></i>&nbsp;添加商品
                            </button>
                            <button class="btn btn-info" onclick="addProductProperty()"><i
                                    class="fa fa-pencil-square-o"></i>&nbsp;添加商品属性
                            </button>
                            <button class="btn btn-info" onclick="editProduct()"><i
                                    class="fa fa-pencil-square-o"></i>&nbsp;修改商品信息
                            </button>
<!--                            <ul  th:if="${session.user.shopEmpRoleName} eq '管理员'">-->
                            <!--                            </ul>-->

<!--                            <button class="btn btn-success" onclick="putUpGoods()"><i-->
<!--                                    class="fa fa-arrow-up"></i>&nbsp;上架商品-->
<!--                            </button>-->
<!--                            <button class="btn btn-danger" onclick="putDownGoods()"><i-->
<!--                                    class="fa fa-arrow-down"></i>&nbsp;下架商品-->
<!--                            </button>-->
                            <button id="btn" class="btn btn-success" th:onclick="'putUppr('+${session.user.shopEmpRoleId}+')'"><i
                                    class="fa fa-arrow-up"></i>&nbsp;上架商品
                            </button>
                            <button id="btn1" class="btn btn-danger" th:onclick="'putdel('+${session.user.shopEmpRoleId}+')'"><i
                                    class="fa fa-arrow-down"></i>&nbsp;下架商品
                            </button>

                        </div>
                        <table id="jqGrid" class="table table-bordered">
                        </table>
                        <div id="jqGridPager"></div>
                        <!--                        <table cellpadding="0" cellspacing="0">-->
                        <!--                            <thead>-->
                        <!--                            <th width="80" style="text-align:center;">商品编号</th>-->
                        <!--                            <th width="100" style="text-align:center;">商品名称</th>-->
                        <!--                            <th width="150" style="text-align:center;">商品简介</th>-->
                        <!--                            <th width="100" style="text-align:center;">商品图片</th>-->
                        <!--                            <th width="100" style="text-align:center;">商品属性</th>-->
                        <!--                            <th width="100" style="text-align:center;">商品售价</th>-->
                        <!--                            <th width="80" style="text-align:center;">商品库存</th>-->
                        <!--                            <th width="100" style="text-align:center;">商品状态</th>-->
                        <!--                            <th width="120" style="text-align:center;">操作</th>-->
                        <!--                            </thead>-->
                        <!--                            <tbody>-->
                        <!--                            <tr  th:each="productDetail : ${productDetailList}">-->
                        <!--                                <td width="80" align="center" th:text="${productDetail.productDetailId}">商品编号</td>-->
                        <!--                                <td width="100" align="center" th:text="${productDetail.product.productName}">商品名称</td>-->
                        <!--                                <td width="150" align="center" th:text="${productDetail.product.productDesc}">商品简介</td>-->
                        <!--                                <td width="100" align="center" th:text="${productDetail.product.productImage}">商品图片</td>-->
                        <!--                                <td width="100" align="center" th:text="${productDetail.productPropertyValue}">商品属性</td>-->
                        <!--                                <td width="100" align="center" th:text="${productDetail.productDetailPrice}">商品售价</td>-->
                        <!--                                <td width="80" align="center" th:text="${productDetail.productDetailStock}">商品存库</td>-->
                        <!--                                <td width="100" align="center" th:text="${productDetail.productDetailStatusValue}">商品状态</td>-->
                        <!--                                <td width="120" align="center">-->
                        <!--                                    <a th:href="@{/shopemp/product/edit/}+${productDetail.productDetailId}">修改商品信息</a>-->
                        <!--                                    <br>-->
                        <!--                                    <a th:href="@{/shopemp/product/onsale/}+${productDetail.productDetailId}">上架商品</a>-->
                        <!--                                    <br>-->
                        <!--                                    <a th:href="@{/shopemp/product/offsale/}+${productDetail.productDetailId}">下架商品</a>-->
                        <!--                                </td>-->
                        <!--                            </tr>-->
                        <!--                            </tbody>-->
                        <!--                            <br>-->
                        <!--                        </table>-->
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="shopemp/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/shopemp/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/shopemp/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/shopemp/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/shopemp/dist/js/adminlte.min.js}"></script>
<!-- jqgrid -->
<script th:src="@{/shopemp/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/shopemp/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<script th:src="@{/shopemp/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/shopemp/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/shopemp/dist/js/public.js}"></script>
<script th:src="@{/shopemp/dist/js/newbee_mall_goods.js}"></script>


<script type="text/javascript">
    function putUppr(e) {
        var id = getSelectedRows();
        if (id == null) {
            return;
        }
        if(e == 2 ){
            $("#btn").attr("disabled", true);
            $("#btn1").attr("disabled", true);
            alert("您没有权限");
            return ;
        }
        window.location.href = "/shopemp/product/onsale/" + id;
    }
    function putdel(e) {
        var id = getSelectedRows();
        if (id == null) {
            return;
        }
        if(e == 2 ){
            $("#btn").attr("disabled", true);
            $("#btn1").attr("disabled", true);
            alert("您没有权限");
            return ;
        }
        window.location.href = "/shopemp/product/offsale/" + id;
    }
</script>
</body>
</html>
