<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cebbank.shopper_provider.mapper.ProductDetailMapper">
    <select id="selectProductDetailByDetailId" resultType="ProductDetail">
        select product_detail_id, product_id, pp.product_property_id, product_property_name, product_property_value,
        product_detail_price, product_detail_image, product_detail_stock ,product_detail_status
        from product_detail pd
        inner join product_property pp on pd.product_property_id=pp.product_property_id
        <where>
            product_detail_status='2'
            <if test="productId != null and productId != ''">
                and pd.product_detail_id = #{productDetailId}
            </if>
        </where>
    </select>
</mapper>