<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebbank.user_login_provider.mapper.UserLoginMapper">

    <!--根据用户id查询用户-->
    <select id="selectUserLoginByUserLoginId" resultType="com.cebbank.user_login_provider.common.pojo.UserLogin">
        select `user_login_id`,`user_info_id`,`user_login_phone`,`user_login_password`,`user_login_status` from user_login where user_login_id = #{id}
    </select>

    <select id="selectUserLoginByPhoneAndPassword" resultType="com.cebbank.user_login_provider.common.pojo.UserLogin">
        select `user_login_id`,`user_info_id`,`user_login_phone`,`user_login_password`,`user_login_status` from user_login where user_login_phone = #{phone} and user_login_password=#{password}
    </select>

    <select id="selectUserLoginByPhone" resultType="com.cebbank.user_login_provider.common.pojo.UserLogin">
        select `user_login_id`,`user_info_id`,`user_login_phone`,`user_login_password`,`user_login_status` from user_login where user_login_phone = #{phone}
    </select>

    <select id="selectUserLoginfoByUserLoginId" resultType="com.cebbank.user_login_provider.common.pojo.Userloginfo">
        select ul.user_login_id,ul.user_info_id from user_login as ul inner join user_info  on ul.user_info_id = user_info.user_info_id where user_login_phone = #{phone}
    </select>

    <update id="updateUserLoginByPhone" parameterType="com.cebbank.user_login_provider.common.pojo.UserLogin">
        update user_login SET `user_login_password`=#{password} WHERE user_login_phone = #{phone}
    </update>

    <insert id="saveUserLogin" parameterType="com.cebbank.user_login_provider.common.pojo.UserLogin">
    insert into user_login (user_login_phone,user_login_password, user_info_id
      )
    values (#{userLoginPhone}, #{userLoginPassword},
    #{userInfoId})
  </insert>

    <insert id="saveUserInfo" parameterType="com.cebbank.user_login_provider.common.pojo.UserInfo" useGeneratedKeys="true" keyProperty="userInfoId">
    insert into user_info (user_info_name,user_info_phone
      )
    values (#{userInfoName}, #{userInfoPhone}
      )
  </insert>

</mapper>