<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cebbank.user_login_provider.mapper.UserLoginMapper">
<!--    &lt;!&ndash;根据手机号和密码查询登录用户&ndash;&gt;-->
<!--    <select id="queryUserByPhoneAndPassword" resultType="com.cebbank.lsf.sbm.pojo.User">-->
<!--        select `user_id`,`user_name`,`user_phone`,`user_password` from user where user_phone = #{phone} and user_password = #{password}-->
<!--    </select>-->
<!--    &lt;!&ndash;根据手机号查询用户&ndash;&gt;-->
<!--    <select id="queryUserByPhone" resultType="com.cebbank.lsf.sbm.pojo.User">-->
<!--        select `user_id`,`user_name`,`user_phone`,`user_password` from user where user_phone = #{phone}-->
<!--    </select>-->
<!--    &lt;!&ndash;新增用户&ndash;&gt;-->
<!--    <insert id="saveUser" useGeneratedKeys="true" keyProperty="user_id">-->
<!--        insert into user(`user_name`,`user_password`,`user_phone`) values(#{user_name},#{user_password},#{user_phone})-->
<!--    </insert>-->
    <!--根据用户id查询用户-->
    <select id="selectUserLoginByUserLoginId" resultType="com.cebbank.user_login_provider.common.pojo.UserLogin">
        select `user_login_id`,`user_info_id`,`user_login_phone`,`user_login_password`,`user_login_status` from user_login where user_login_id = #{id}
    </select>

    <select id="selectUserLoginByPhoneAndPassword" resultType="com.cebbank.user_login_provider.common.pojo.UserLogin">
        select `user_login_id`,`user_info_id`,`user_login_phone`,`user_login_password`,`user_login_status` from user_login where user_login_phone = #{phone} and user_login_password=#{password}
    </select>

</mapper>