<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script>
        //这段代码主要是获取摄像头的视频流并显示在Video标签中
        window.addEventListener("DOMContentLoaded", function () {
            var canvas = document.getElementById("canvas"),
                context = canvas.getContext("2d"),
                video = document.getElementById("video"),
                videoObj = {"video": true},
                errBack = function (error) {
                    console.log("Video capture error: ", error.code);
                };
            $("#snap").click(function () {
                context.drawImage(video, 0, 0, 330, 250);
            })
            //navigator.getUserMedia这个写法在Opera中好像是navigator.getUserMedianow
            if (navigator.getUserMedia) {
                navigator.getUserMedia(videoObj, function (stream) {
                    video.srcObject = stream;
                    video.play();
                }, errBack);
            } else if (navigator.webkitGetUserMedia) {
                navigator.webkitGetUserMedia(videoObj, function (stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }, errBack);
            }

        }, false);

        // 注册
        function registered() {
            var canvans = document.getElementById("canvas");
            // 获取浏览器页面的画布对象
            // 以下开始编 数据
            var imgData = canvans.toDataURL();
            // 将图像转换为base64数据
            var base64Data = imgData.substr(22);
            // 获取名称
            var name = $('input[name="name"]').val();
            //开始异步上
            $.post("/registered", {"img": base64Data, "name": name}, function (data, status) {
                if (status == "success") {
                    if (data == "success") {
                        alert("success");
                    } else if (data == "error") {
                        alert("error");
                    }
                } else {
                    alert("上传失败");
                }
            }, "text");
        }

        // 搜索
        function verification() {
            var canvans = document.getElementById("canvas");
            // 获取浏览器页面的画布对象
            // 以下开始编 数据
            var imgData = canvans.toDataURL();
            // 将图像转换为base64数据
            var base64Data = imgData.substr(22);
            //开始异步上
            $.post("/verification", {"img": base64Data}, function (data, status) {
                if (status == "success") {
                    if (data != null) {
                        if ("error" == data) {
                            alert("识别错误 or 您未上传自己的帅照");
                        } else {
                            alert("身份验证成功！欢迎您，尊敬的：" + data);
                            location.href = "http://localhost:8783/logistics/s";
                        }
                    }
                } else {
                    alert("上传失败");
                }
            }, "text");
        }

        // 检测
        function faceDetection() {
            var canvans = document.getElementById("canvas");
            // 获取浏览器页面的画布对象
            // 以下开始编 数据
            var imgData = canvans.toDataURL();
            // 将图像转换为base64数据
            var base64Data = imgData.substr(22);
            //开始异步上
            $.post("/faceDetection", {"img": base64Data}, function (data, status) {
                if (status == "success") {
                    if (data == "success") {
                        alert("success");
                    } else if (data == "error") {
                        alert("error");
                    }
                } else {
                    alert("上传失败");
                }
            }, "text");
        }
    </script>
</head>
<body>
<div id="contentHolder">
    <video id="video" width="320" height="320" autoplay></video>
    <input type="button" id="snap" style="width:100px;height:35px;" value="拍 照"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name">
    <canvas style="" id="canvas" width="320" height="320"></canvas>
    <input type="button" value="上传" onclick="registered()"/>
    <input type="button" value="验证" onclick="verification()"/>
    <input type="button" value="检测" onclick="faceDetection()"/>
</div>
</body>
</html>
