<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>管理物流信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shopping-mall-index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/zhonglin.js}"></script>
</head>

<body>
<!--top 开始-->
<!--<div class="top">-->
<!--    <div class="top-con w1200">-->
<!--        <p class="t-con-l f-l">您好，欢迎来到效</p>-->
<!--        <ul class="t-con-r f-r">-->
<!--            <li><a href="#">我 (个人中心)</a></li>-->
<!--            <li><a href="#">我的购物车</a></li>-->
<!--            <li><a href="#">我的订单</a></li>-->
<!--            <li class="erweima">-->
<!--                <a href="#">扫描二维码</a>-->
<!--                <div class="ewm-tu">-->
<!--                    <a href="#"><img th:src="@{/images/erweima-tu.jpg}"/></a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <div style="clear:both;"></div>-->
<!--        </ul>-->
<!--        <div style="clear:both;"></div>-->
<!--    </div>-->
<!--</div>-->
<!--logo search 开始-->

<!--    <div class="logo f-l">-->
<!--        <h1><a href="#" title="中林网站"><img th:src="@{/images/ejs.jpg}"/></a></h1>-->
<!--    </div>-->
<!--    <div class="search f-r">-->
<!--        <ul class="sp">-->
<!--            <li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>-->
<!--            <li ss-search="dp"><a href="JavaScript:;">店铺</a></li>-->
<!--            <div style="clear:both;"></div>-->
<!--        </ul>-->
<!--        <div class="srh">-->
<!--            <div class="ipt f-l">-->
<!--                <input type="text" placeholder="搜索商品..." ss-search-show="sp"/>-->
<!--                <input type="text" placeholder="搜索店铺..." ss-search-show="dp" style="display:none;"/>-->
<!--            </div>-->
<!--            <button class="f-r">搜 索</button>-->
<!--            <div style="clear:both;"></div>-->
<!--        </div>-->
<!--        <ul class="sp2">-->
<!--            <li><a href="#">绿豆</a></li>-->
<!--            <li><a href="#">大米</a></li>-->
<!--            <li><a href="#">驱蚊</a></li>-->
<!--            <li><a href="#">洗面奶</a></li>-->
<!--            <li><a href="#">格力空调</a></li>-->
<!--            <li><a href="#">洗发护发</a></li>-->
<!--            <li><a href="#">葡萄 </a></li>-->
<!--            <li><a href="#">脉动</a></li>-->
<!--            <li><a href="#">海鲜水产</a></li>-->
<!--            <div style="clear:both;"></div>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div style="clear:both;"></div>-->
<!--</div>-->

<!--nav 开始-->
        <div class="man-info">
            <div class="man-if-con" >
                <div class="man-tit" >
                    <p class="p1">物流编号</p>
                    <p class="p2">物流状态</p>
                    <p class="p3">开始时间</p>
                    <p class="p4">最近更新时间</p>
                    <p class="p5">操作</p>
                </div >
                <ul id="wl" class="man-ul1">
<!--                    <li>-->
<!--                        <p class="p1" th:text="${logistics.logistics_uuid}"></p>-->
<!--                        <p class="p2" th:text="${logistics.logistics_status}"></p>-->
<!--                        <p class="p3" th:text="${logistics.logistics_create_time}"></p>-->
<!--                        <p class="p4" th:text="${logistics.logistics_update_time}"></p>-->
<!--                        <button  th:onclick="'finish('+${logistics.logistics_id}+')'">确认送达</button>-->
<!--                        <div style="clear:both;"></div>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    </div>
<script type="text/javascript">

    //同步加载数据
    finish0();
    function finish0 () {
        $.ajax({
            async: false,
            url: '/logistics/list',
            dataType: 'json',
            success: function (data) {
                renderLogisticstHtml(data);

            }
        });
    }
    function finish (logisticsId) {
        $.ajax({
            async: false,
            url: '/logistics/finished',
            data: {"logisticsId": logisticsId},
            dataType: 'json',
            success: function (data) {
                renderLogisticstHtml(data);

            }
        });
    }
    function renderLogisticstHtml(data){
        // // window.location.href = "/logistics/finished?logisticsId=" + data;
        var logisticsHtml = "";//用来存储html内容
        //alert(data.length);
        if (data.length > 0) {
            $.each(data, function (v, o) {
                if (o.logisticsStatus != 0){
                    logisticsHtml += "<li>";
                    logisticsHtml += "<p class='p1'>"+o.logisticsUuid+"</p>";
                    if (o.logisticsStatus == 3){
                        logisticsHtml += "<p class='p2'>配送完成</p>";
                    }
                    if (o.logisticsStatus == 2){
                        logisticsHtml += "<p class='p2'>配送中</p>";
                    }
                    logisticsHtml += "<p class='p2'>"+o.logisticsCreateTime+"</p>";
                    logisticsHtml += "<p class='p2'>"+o.logisticsUpdateTime+"</p>";
                    if (o.logisticsStatus == 2){
                        logisticsHtml += "<button class='md-l-btn1' onclick='finish("+o.logisticsId+")'>确认送达</button>";
                    }
                    if (o.logisticsStatus == 3){
                        logisticsHtml += "<p class='p2'>已送达</p>";
                    }
                    logisticsHtml += "<div style='clear:both;'></div>";
                    logisticsHtml += "</li>";
                }
            });
            $("#wl").html(logisticsHtml);
        }
    }
</script>
</body>
</html>
