<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cebbank.order_manage_provider.mapper.LogisticsMapper">
    <select id="selectLogisticsByLogisticsId" resultType="com.cebbank.order_manage_provider.pojo.Logistics">
		select logistics_uuid,logistics_create_time,logistics_update_time,logistics_status from logistics where logistics_id=#{id};
    </select>
    <update id="updatelogisticsByLogisticsId" >
		update logistics set logistics_status=3 where logistics_id=#{id};
   	</update>
    <select id="selectLogistics"  resultType="com.cebbank.order_manage_provider.pojo.Logistics" >
		select logistics_id,logistics_uuid,logistics_create_time,logistics_update_time,logistics_status from logistics;
    </select>
    <insert id="insertLogistics" useGeneratedKeys="true" keyProperty="logisticsId">
        insert into logistics(logistics_uuid,logistics_create_time,logistics_update_time,logistics_status,`order_id`) value (#{logisticsUuid},#{logisticsCreateTime},#{logisticsUpdateTime},#{logisticsStatus},#{orderId})
    </insert>
</mapper>